body{
font-family: "Roboto",sans-serif;
background-color: #FFFFFF;
color: #434455;
margin: 0;
}
p, h1,h2,h3{
    margin-top: 0;
    margin-bottom: 0;
}
a {
    text-decoration: none;
    color: currentColor;
}
ul,
ol {
    list-style: none;
    margin: 0;
    padding: 0;
    
}
button{
    cursor: pointer;
} 

address{
    font-style: normal;
}
img {
    display: block;
}
input {
    padding: 0;
    margin: 0;
}

.container {
    width: 100%;
    max-width: 320px;
    padding-right: 16px;
    padding-left: 16px;
    margin: 0 auto;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0; 
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.section{
    padding-top: 96px;
    padding-bottom: 96px;
}

/**---------------------------------------------*/
/**------------header---------------------------*/
.header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 56px;
}
.navigation{
align-items: center;
}
.logo{
    color: #4D5AE5;
        font-family: "Raleway",sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        padding: 17px 0;
        
}
.stidio-logo{
    color: #2E2F42;
}
.nav-list{
    display: none;
}

.address{
    font-style: normal;
    margin-left: auto;
}
.address-list{
    display: none;
    
}

.header-btn-open-menu{
    padding: 0;
    display: flex;
    flex-shrink: 0;
    border: none;
    line-height: 0;
    background-color: transparent;
    max-width: 24px;
    max-height: 24px;
    cursor: pointer;
}

/**-----------------------------------------------*/
/**------------modal-menu-------------------------*/
.menu-modal {
    position: absolute;
    width: 288px;
    height: 100vh;
    top: 50%;
    left: 50%;
    opacity: 0;
    visibility: hidden;
    padding: 24px 24px 40px 16px;
    transform: translate(-50%, -50%) scale(1);
    background: #FCFCFC;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.20);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-close-btn-menu {
    position: absolute;
    top: 24px;
    right: 24px;
    height: 24px;
    width: 24px;
    padding: 0;
    margin-bottom: 24px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.10);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-close-btn-menu:hover,
.icon-close-btn-menu:focus {
    background-color: #404BBF;
    border: none;
}

.icon-close-btn-menu:hover>.iconcs-close-size,
.icon-close-btn-menu:focus>.iconcs-close-size {
    fill: #FFFFFF;
}

.iconcs-close-size-menu {
    fill: #2E2F42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-nav-menu {
    color: #2E2F42;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    display: block;
    text-transform: capitalize;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-nav-menu:hover,
.menu-nav-menu:focus,
.menu-nav-menu:active {
    color: #404bbf;
}

.current-menu {
    position: relative;
    color: #404bbf;
}



.nav-list-menu {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 48px;

}

.address {
    display: block;
}

.address-list-menu {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 168px;
    margin-bottom: 48px;
}

.contact-menu {
    color: #434455;
    font-size: 20px;
    font-style: normal;
    line-height: 1.2;
    font-weight: 500;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-menu:hover,
.contact-menu:focus,
.contact-menu:active {
    color: #404bbf;
}
.blue-text{
        color: #404bbf;
}
--------------------------------
.icons-wrap-menu{
    display: flex;
}

.container-list-menu-mob{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    margin-bottom: auto;
}

.size-menu {
    width: 40px;
    height: 40px;
}
.icons-list-menu {
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #4D5AE5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icons-list-menu:hover,
.icons-list-menu:focus,
.icons-list-menu:active {
    background-color: #404BBF;
}

.icon-menu {
    fill: #F4F4FD;
}

/**-----------------------------------------------*/
/**------------hero-section-----------------------*/

.hero-section {
        background-color: #2e2f42;
        padding: 72px 16px;
        background:
                linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)),
                url(../images/Dark-bg-mob.jpg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            max-width: 100%;
            max-width: 320px;
            margin: 0 auto;
}
@media screen and (min-device-pixel-ratio: 2),
(min-resolution: 2dppx), 
(min-resolution: 192dpi) {
    .hero-section {
        background:
            linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)),
            url(../images/Dark-bg-mob-2x.jpg);
    }
}

.hero-container{
display: flex;
flex-direction: column;
align-items: center;
}
.first-title {
font-size: 36px;
letter-spacing: 0.02em;
font-weight: 700;
line-height: 1.11;
text-align: center;
color: #FFFFFF;
max-width: 200px;
padding-bottom: 48px;
text-transform: capitalize;
}
.main-button{
    width: 100%;
    max-width: 169px;
    min-width: 169px;
    background-color: #4D5AE5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    border: none;
    padding: 16px 32px;
    white-space: nowrap;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.main-button:hover {
    background-color: #404bbf;
}

.main-button:focus {
    background-color: #404bbf;
}

/**------------------------------------------------*/
/**------------feature-section---------------------*/

.section-feature{
    background: #FFF; 
    padding: 96px 16px;
}
.feature-containar {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 72px;

}
.title-feature {
    align-items: center;
        text-align: center;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.1;
        text-transform: capitalize;
letter-spacing: 0.02em;
line-height: 1.2;
color: #2e2f42;
margin-bottom: 8px;
}
.text-feature {
    display: inline-block;
text-align: left;
font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
        font-family: Roboto;
        font-weight: 500;
}
.item-list-cont-feature {
    display: none;

    flex-shrink: 0;
    margin-bottom: 8px;
    gap: 24px;
}

.icon-list-feature {
    border: 1px solid #8E8F99;
    height: 112px;
    border-radius: 4px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
        background: #F4F4FD;
        margin-bottom: 8px;
}

/**---------------------------------------------*/
/**------------our-team-------------------------*/

.our-team{
    background-color: #F4F4FD;
}

.team-container{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 72px;
}
.header-two{
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.02em;
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}
.background-list{
    background-color: #FFFFFF
}
.team-item {
    border-radius: 0px 0px 4px 4px;
    background: #FFF;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.team-icon{
    display: flex;
    justify-content: center;
    gap: 24px;
}
.icons-list{
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
width: 100%;
height: 100%;
border-radius: 50%;
background-color: #4D5AE5;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.list-size{
    width: 40px;
    height: 40px;
}
.icons-list:hover,
.icons-list:focus,
.icons-list:active{
    background-color: #404BBF;
}

.icon {
    fill: #F4F4FD;
}

.others-header {
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.02em;
    line-height: 1.2;
    color: #2e2f42;
    margin-bottom: 8px;
    text-align: center;
}
.page-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: center;
    margin-bottom: 8px;
}
.team-card{
    padding: 32px 0;
}

/**----------------------------------------------*/
/**------------portfolio-------------------------*/
.section-portfolio{
    background: #FFF;
}
.portfolio-container{
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
}
.portfolio-item{
    position: relative;
    overflow: hidden;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.blue-text-wrap{
    position: absolute;
    display: flex;
    align-items: center;
padding: 40px 32px;
    top: 0;
    width: 288px;
        height: 100%;
        flex-shrink: 0;
        background-color: #4D5AE5;
        color: #F4F4FD;
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
        transform: translateY(100%);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.blue-content{
position: relative;
overflow: hidden;

}
.portfolio-header{
    text-align: left;
    /* text-align: center; */
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 0.02em;
    line-height: 1.2;
    color: #2e2f42;
    margin-bottom: 8px;
}
.portfolio-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;

}
.portfolio-list{
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}
.portfolio-item:hover .blue-text-wrap{
transform: translateY(0%)
}
.portfolio-item:hover{
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: translateY(0%)
}
/**----------------------------------------------*/
/**------------footer----------------------------*/
.footer{
    background-color: #2e2f42;
    padding-top: 96px;
    padding-bottom: 96px;
    /* padding:100px 0; */
}
.footer-container {
max-width: 320px;
display: flex;
flex-direction: column;
}
.footer-container-list{
display: flex;
flex-direction: row;
justify-content: center;
gap: 16px;
margin-bottom: 72px;
}
.footer-wrap{
    display: flex;
        justify-content: center;
        align-items: center;

}
.footer-text{
    font-size: 16px;
    font-weight: 400;
    max-width: 100%;
    width: 264px;
    line-height: 1.5;
    color: #F4F4FD;
    letter-spacing: 0.02em;
}
.footer-logo{
    color: #F4F4FD;
}
.footer-line{
    display: inline-block;
    margin-bottom: 16px;
}
.social-media{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
    text-align: center;
    margin-top: 72px;
        margin-bottom: 16px;

}
.all-footer{
    display: flex;
    flex-direction: column;
align-items: center;

}

.footer-icons-list {
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #4D5AE5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-icons-list:hover,
.footer-icons-list:focus,
.footer-icons-list:active{
    background-color: #31D0AA;
}
.footer-icon {
    fill: #F4F4FD;
}
.footer-text-icon{
    color: #FFF;
        font-family: Roboto;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
        margin-bottom: 16px;
}
.list-size{
    width: 40px;
    height: 40px;
}
.footer-subscribe{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.footer-subscribe-text{
    color: #FFF;
    margin-bottom: 16px;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
}

.footer-input{
    width: 24px;
    height: 40px;
    border: 1px solid #ffffff;
    background-color: transparent;
    width: 264px;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    color: #FFFFFF;
}
.footer-input::placeholder{
    color: #ffffff;
}
.form-footer{
    display: flex;
    align-items: center;
    gap: 24px;
max-width: 264px;
height: 40px;
flex-shrink: 0;
flex-direction: column;
}
.footer-button{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 165px;
    height: 40px;
    padding: 8px 24px;
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    border: none;
    border-radius: 4px;
}
.subscribe-btn-icon{
    margin-left: 16px;
    fill: #ffffff;
}



/**----------------------------------------------*/
/**------------modal-----------------------------*/

.backdrop{
    width: 100%;
    height: 100%;
    position: fixed;
    top:0;
    left: 0;
    background-color: rgba(46, 47, 66, 0.40);
    opacity: 0;
    visibility: hidden;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-open{
opacity: 1;
visibility: visible;
pointer-events: auto;
}
.modal{
    position: absolute;
    width: 288px;
    height: 100vh;
    top: 50%;
    left: 50%;
    padding: 72px 16px;
    transform: translate(-50%, -50%) scale(1);
    border-radius: 4px;
    background: #FCFCFC;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.20);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-close-btn{
position: absolute;
top: 24px;
right: 24px;
height: 24px;
width: 24px;
padding: 0;
margin-bottom: 24px;
border-radius: 50%;
background-color: #E7E9FC;
border: 1px solid rgba(0, 0, 0, 0.10);
cursor: pointer;
display: flex;
align-items: center;
justify-content: center;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-close-btn:hover,
.icon-close-btn:focus{
    background-color: #404BBF;
    border: none;
}
.icon-close-btn:hover>.iconcs-close-size,
.icon-close-btn:focus>.iconcs-close-size{
    fill: #FFFFFF;
}

.iconcs-close-size{
fill: #2E2F42;
transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.text-modal {
    font-weight: 500;
    color: #2E2F42;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}
.modal-field {
    margin-bottom: 8px;
}
.label-form {
    display: block;
    margin-bottom: 4px;
    color: #8E8F99;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
}
.modal-input-wrap{
    position: relative;
}
.modal-input {
    background-color: transparent;
    width: 100%;
    height: 40px;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
.modal-input:hover,
.modal-input:focus,
.modal-input:active{
    border-color: #4D5AE5;
}
.form-icon-list {
position: absolute;
left: 16px;
top: 50%;
transform: translateY(-50%);
transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-icon-list:hover,
.form-icon-list:focus,
.form-icon-list:active{
    fill: #4D5AE5;
}
.modal-input-wrap input:focus + .form-icon-list{
    fill: #4D5AE5;
}
.textarea-wrap{
    margin-bottom: 16px;
}
.comment-area{
    width: 100%;
    height: 120px;
    padding: 8px 16px;
    background-color: transparent;
    color: rgba(46, 47, 66, 0.4);
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.comment-area:hover,
.comment-area:focus{
    border-color: #4D5AE5;
}
.check-form-wrap{
    margin-bottom: 24px;
}
.privacy-text{
    color: #8E8F99;
        font-size: 12px;
        font-weight: 400;
        line-height: 1.17;
        letter-spacing: 0.04em;
}
.privacy-span{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
    width: 16px;
    height: 16px;
    fill: transparent;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.check-form-wrap input:checked+.privacy-text .privacy-span {
    background-color: #404BBF;
    border: none;
    fill: #F4F4FD;
}
.privacy-policy{
color: #4d5ae5;
}
.btn-send{
display: block;
margin: 0 auto;
    padding: 16px 32px;
    min-width: 169px;
    align-items: flex-start;
    border: none;
    border-radius: 4px;
        background: #4D5AE5;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
        color: #FFF;
            text-align: center;
            font-size: 16px;
            font-weight: 500;
            line-height: 1.5;
            letter-spacing: 0.04em;
            transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
